<!DOCTYPE html>
<html>

<head>
	<title>QCM Gestion de projet</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link href="static/bootstrap.min.css" rel="stylesheet" />
	<script src="static/bootstrap.bundle.min.js"></script>
	<script src="static/vue.js"></script>
</head>

<body>
	<div class="container m-4 p-4">
		<h1 class="mb-4">QCM Gestion de projet</h1>
		<form id="qcm" v-on:submit.prevent="displayForm">
			<div class="card border-dark mb-3" v-for="question, index in questions" :key=`Q${index+1}`>
				<div class="card-header">
					{{index+1}}. {{question.label}}
				</div>
				<div class="card-body text-dark">
					<div class="form-check" v-for="option, jindex in question.options">
						<input :id=`Q${index+1}${["a","b","c","d"][jindex]}` :name=`Q${index+1}` type="radio"
							:value=`${index+1}${["a","b","c","d"][jindex]}` v-model="questions[index].selected"
							class="form-check-input" />
						<label :for=`Q${index+1}${["a","b","c","d"][jindex]}` class="form-check-label">
							{{["a","b","c","d"][jindex]}}. {{option}}
						</label>
					</div>
				</div>
			</div>
			<div id="liveAlertPlaceholder"></div>
			<button id="submitBtn" type="submit" class="btn btn-primary">Valider</button>
		</form>
	</div>
	<script type="text/javascript" src="static/questions.json"></script>
	<script src="static/main.js"></script>
</body>

</html>